<div ng-controller="MainCtrl as main">
  <div layout="row" class="md-accent">
    <md-card flex="45" class="md-accent md-whiteframe-z3" style="background-color:#3F51B5; color:white">
      <md-card-content >
        <h1 >Felici company</h1>
        <p>
          An experienced company of singers and musicians, bringing classical, opera and musical songs to audiences.
        </p>
        <p>
          In addition to our own events, we perform charity, corporate and personal events tailored to your needs.
        </p>
        <p>
         We are based in the Hertfordshire and Bedfordshire regions
        </p>
      
      </md-card-content>
    </md-card>
    <md-card flex="55" >
      <img height="160" ng-src="images/2015-05_Singers_photo.jpg" class="md-card-image" alt="Mozart">
      <md-card-content >
      Felici founders Margaret and Zoe with baritone Tim Hobman
      </md-card-content>
      <md-footer>
      </md-footer>
    </md-card>
  </div>
  <md-divider/>
  <div layout="row">
    <md-card  flex="100">
      <md-card-content>
        <h2 class="md-title">Upcoming Events</h2>
        <p>
          2016 March, 5 - Hoxne, Suffolk - Phantom of the Paris Opera House<br/>
          2016 April, 23 - Malvern - Charity Concert<br/>
          2016 May, 9 - Pirton, Herts - Phantom of the Paris Opera House<br/>
          2016 September - Welwyn Garden City - An evening of Faure<br/>
          2017 Summer - The Marriage of Figaro, Mozart
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row">
    <md-card  flex="100">
      <md-card-content>
        <h2 class="md-title">Past Events</h2>
        <p>
          2015 May - Welwyn Garden City - An Enchanted Evening of Song <br/>
          2015 March - Harpenden - Corporate club dinner
        </p>
      </md-card-content>
    </md-card>
  </div>
  <md-divider/>
  
  
  <h2>Our musical range</h2>
  <div layout="row">
    <md-card  flex=33>
      <img ng-src="images/Croce-Mozart-Detail.jpg" class="md-card-image" alt="Mozart">
      <md-card-content>
        <h2 class="md-title">Mozart</h2>
        <p>
          Opera and classical songs. From Mozart to Faure via Rossini and Lieder.
        </p>
      </md-card-content>
    </md-card>
    <md-card  flex=33>
      <img ng-src="images/Sir_Arthur_Seymour_Sullivan.jpg" class="md-card-image" alt="Mozart">
      <md-card-content>
        <h2 class="md-title">Sullivan (G&amp;S)</h2>
        <p>
          Opereta and Victorian and Edwardian music hall.
        </p>
      </md-card-content>
    </md-card>
    <md-card  flex=33>
      <img ng-src="images/Ivor_Novello_mug.jpg" class="md-card-image" alt="Mozart">
      <md-card-content>
        <h2 class="md-title">Ivor Novello</h2>
        <p>
         Twentieth century songs from Novello, Sondheim and many others.
         
        </p>
      </md-card-content>
    </md-card>    
  </div>
  <md-divider></md-divider>
      
  <div layout="row">
    <md-card flex="50">
      <md-header>
      </md-header>
      <md-card-content>
        <h1 class="md-title">Margaret Johnson, founder</h1>
        <p >
         Margaret trained at the Royal College of Music. She has worked
  as music teacher, primary headteacher and is currently a lay 
  minister in the Benefice of Holwell, Ickleford and Pirton. She 
  has been involved with local choirs and musical societies in 
  North Herts, both as accompanist and conductor, for more years 
  than she cares to count! More recently Margaret has been MD 
  for a number of shows for Putteridge Bury G&amp;S Society, 
  including their current production, Princess Ida. A 
  founder member of Pirton Players, Margaret has also led many 
  of their musical productions, most recently Guys and Dolls. 
  Margaret especially enjoys working as accompanist and 
  repetiteur.
          </p>
      </md-card-content>
    </md-card>
    <md-card flex="50">
      <md-card-content>
        <h1 class="md-title">Zoe Jasko, founder</h1>
        <p>
          Zoe is an experienced soprano performing stage roles and at concert bookings. In theatre she has played, amongst others, such lovely parts as Mabel in "Pirates of Penzance", Bakers Wife in "Into the Woods" and Tzietel in "Fiddler on the Roof". In concert  she has supported the Welwyn Garden City Male Voice choir as their guest soloist and performed in the Welwyn Garden City Friends Meeting House series of concerts. She has also sung at weddings, funerals and corporate events. Zoe has been on the production commitee for many stage performances at theatres and other venues in Hertfordshire and Devon.
        </p>
      </md-card-content>
    </md-card>
  </div>
    
    <md-card flex="50">
      <h1 class="md-title">Contact Us <i class="material-icons">email</i></h1>
      <md-card-content>
         Email us at bookings@felici.company
      </md-card-content>
    </md-card>
  
  <md-divider></md-divider>




</div>